body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #111111;
  color: #FFFFFF;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 0 20px; /* Add padding for mobile devices */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.restaurant-title {
  font-size: 2.8rem;
  margin-top: 2rem;
}

.restaurant-type {
  font-size: 5.6rem;
  font-weight: bold;
  margin-top: 1.5rem;
  color: #FF0000;
}

.last-week-restaurant {
  font-size: 2rem;
}

.last-updated {
  font-size: 1.6rem;
  margin-top: -1rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  /* Set container width to 80% of the screen */
  .container {
    width: 90%;
  }

  .restaurant-title {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }

  .restaurant-type {
    font-size: 2.8rem;
    margin-top: 0.3rem;
  }

  .last-week-restaurant {
    font-size: 1.2rem;
  }

  .last-updated {
    font-size: 0.8rem;
    margin-top: -0.3rem;
  }
}

/* Media Query for Desktop Devices */
@media (min-width: 481px) {
  .restaurant-title {
    font-size: 2.2rem;
    margin-top: 1rem;
  }

  .restaurant-type {
    font-size: 4.4rem;
    margin-top: 0.5rem;
  }

  .last-week-restaurant {
    font-size: 1.6rem;
  }

  .last-updated {
    font-size: 1.2rem;
    margin-top: -0.6rem;
  }
}
